button.btn{
	background-color: $orange;
	border: 1px solid $orange;
	font-family: $montserrat;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0.5px;
	text-align: center;
	line-height: 16px;	
	padding:15px 30px;
	font-weight:bold;
	text-transform:uppercase;
	transition:all $cb .15s;
	&:hover{
		background-color:transparent;
		color:$white;
	}
	&.secondary{
		background-color:transparent;
		color:$white;
		&:hover{
			background-color:$orange;
			color:$black;
		}
	}
}