input[type="text"]{
	border: 1px solid $lightGray;
	padding:15px;
	width:100%;
	font-family: $montserrat;
	font-size: 15px;
	color: $darkGray;
}

.select-searchable{
	max-width:100%;
	width:100%;
	background-color:$white;
	padding:0 15px;
	border: 1px solid $lightGray;
	margin-bottom:20px;
	cursor:pointer;
	.item-cover{
		display:none;
	}
	.select-searchable-value{
		text-align:left;
		font-family: $montserrat;
		font-size: 15px;
		color: $darkGray;
	}
}