// Fonts
$montserrat: 'Montserrat', sans-serif;
$noto: 'Noto Sans', sans-serif;

// Colors
$darkGray: #221f1f;
$mediumGray: #9B9B9B;
$lightGray: #D8D8D8;
$orange: #FBB415;
$white: #FFFFFF;
$black: #000000;

// Transitions
$cb: cubic-bezier(.4,0,.6,1);