// http://ionicframework.com/docs/theming/


// App Global Sass

@import 'shared/variables';
@import 'shared/typography';
@import 'shared/button';
@import 'shared/nav';
@import 'shared/sidenav';
@import 'shared/input';


.ion-page .content{
	background:url('./../assets/imgs/met-bg.jpg') no-repeat center center;
	background-size:cover;
	.scroll-content{
		overflow:auto;
		padding:0;
	}
}